body {
	font-size: 14.4px;
	line-height: 1;
}
#elliptic-curve {
	transform: scaleX(-1);
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	max-width: 40%;
}
#curve-container:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: linear-gradient(to bottom, #ffffff 2%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 80%,  #ffffff 98%);
}
#icon {
	position: absolute;
	margin-top: 12vh;
	margin-left: 6%;
}
#icon h5 {
	font-family: "Open Sans";
	font-size: 200%;
	margin-bottom: -3rem;
	margin-left: 5rem;
	margin-top: 0;
}
#icon h1 {
	font-family: "Montserrat";
	margin-top: 0;
	font-size: 700%;
}
#blerb {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	text-align: right;
	margin-left: 10%;
	width: 60%;
}
#blerb h3 {
	margin: 0;
	font-family: "Open Sans";
	font-size: 300%;
	line-height: 1.2;
}
#cont {
	position: absolute;
	bottom: 10px;
	height: 4rem;
	left: 50%;
	transform: translateX(-50%);
}
.page {
	min-height: 100vh;
    position: relative;
    width: 100%;
}
.page:nth-child(2n-1) {
	box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, .2);
}
.page:before, .page:after {
    content: '';
    display: block;
    height: 1;
    margin-top: -1;
}
#login {
	position: absolute;
	top: 5vh;
	right: 4%;
	font-size: 120%;
	font-family: "Open Sans";
	font-weight: bold;
}
h1, h2 {
	font-family: "Montserrat";
}
#header {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 5vh;
	line-height: 5vh;
	text-align: center;
	font-size: 200%;
	background: #bfb;
	z-index: 1;
}
.ribbon {
	display: inline-block;
	vertical-align: middle;
}
.centered {
	text-align: center;
	width: 70%;
	margin: 6vh auto;
}
.point-container {
	width: 70%;
	margin: 6vh auto 0 auto;
	white-space: nowrap;
}
.right.point-container {
	text-align: right;
}
.illustration {
	width: 10%;
    display: inline-block;
}
.caption {
	font-family: "Open Sans";
    font-size: 200%;
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    width: 85%;
}
.point-container.left .caption {
	margin-left: 5%;
}
.point-container.right .caption {
	margin-right: 5%;
}
#main {
	margin-top: 5vh;
	background: #fff;
	transform-origin: 50% 100%;
	transition: transform .3s;
	transition-delay: 0.1s;
}
.locked {
	overflow: hidden;
	height: 100vh;
	z-index: -1;
	pointer-events: none;
}
.behind {
	transform: scale(.85);
	transition-delay: 0s !important;
}
body {
	background: #666;
}
#login-page {
    position: fixed;
    top: 100vh;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: top .3s;
    transition-delay: 0s;
}
.behind + #login-page {
	top: 0vh;
	transition-delay: 0.1s;
}
#close {
	width: 2.6rem;
	position: absolute;
	right: 5%;
	top: 5vh;
	cursor: pointer;
}
#close:hover line {
	stroke: #888888;
}
.separator {
	position: relative;
}
.separator > div {
	padding: 2rem;
	padding-top: 0;
	width: 50%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin-left: -1px;
    margin-right: -1px;
}
.separator:before {
	content: '';
	position: absolute;
	width: 1px;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
	bottom: 0;
	background: linear-gradient(#fff 5%,#888 50%,#fff 90%);
}
.separated {
	display: flex;
    flex-direction: column;
}
.separated .separator {
	flex: 1;
}
.separator h2 {
	margin-top: 0;
	width: 80%;
}
.large-list {
	font-family: "Open Sans";
	font-size: 200%;
	line-height: 1.4;
}
.large-list li {
	margin-bottom: 2vh;
}
.graphic {
	width: 100%;
	display: inline-block;
}
.graphic-wrapper {
	display: inline-block;
	height: 0;
	width: 15%;
}
.graphic-padding {
	padding-top: 7.5%;
}
.description {
	font-size: 200%;
	line-height: 1.2;
	display: inline-block;
	max-width: 75%;
	vertical-align: middle;
}
.graphic-case {
	margin-bottom: 1vh;
}
.graphic-case.left .description {
    margin-left: 6.25%;
    margin-right: -4px;
}
.graphic-case.right {
	margin-left: 10%;
}
.graphic-case.right .description {
	margin-right: 6.25%;
    margin-left: -4px;
	text-align: right;
}
.graphic-container {
	margin: 0 10%;
	display: inline-block;
}
#faq {
	list-style: none;
	font-size: 200%;
	line-height: 1.4;
	flex: 1 0;
	display: flex;
	flex-direction: column;
	font-family: "Open Sans"
}
#faq > li {
	cursor: pointer;
}
#faq > li:before {
    content: "\25b6";
    margin-right: 1rem;
	display: inline-block;
	transition: transform .4s;
	font-size: 80%;
}
#faq > div {
	max-height: 0;
	overflow: hidden;
	padding-right: 2rem;
	transition: max-height .4s;
	font-size: smaller;
}
#faq > div:before {
	content: '';
	display: block;
}
#faq-case {
	display: flex;
    flex-direction: column;
}
#faq > .opened:before {
	transform: rotate(90deg);
}
#faq > .opened + div {
	max-height: 50vh;
}
#login-page > .separator {
	margin-top: 15vh;
	height: 85vh;
}
#login-page > .separator > div {
	text-align: center;
}
.explanation {
	width: 60%;
	font-family: "Open Sans";
	margin: 0 auto;
}
.mdl-textfield:not(.is-invalid) > .__hint {
	visibility: visible;
	color: rgb(158,158,158);
}
#username-valid {
	display: inline-block;
	width: 0;
	font-family: 'Material Icons';
	vertical-align: middle;
	font-size: 150%;
	color: #4caf50;
	visibility: hidden;
}
.__taken {
	display: none;
}
.is-taken .mdl-textfield__error {
	display: none;
}
.is-taken .__taken {
	display: block;
}
.no-transition #main, .no-transition #login-page {
	transition: none !important;
}
#signup-internet-disconnected, #signin-internet-disconnected, #signin-incorrect {
	display: none;
	color: red;
}
#request-loading {
	display: none;
}
.point-container:last-child {
	margin-bottom: 6vh;
}
@media (max-width: 840px) {
	body {
		font-size: 12px;
	}
}
#links {
	width: 100%;
	text-align: center;
	font-family: "Montserrat";
	font-size: 36px;
	padding-bottom: 5vh;
	position: relative;
	bottom: 0;
}
